.container {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 6em 0;
}

.container div {
  width: 751px;
  border-left: 2px solid var(--preto-principal);
  border-right: 2px solid var(--preto-principal);
}

.container h4 {
  font-size: 35px;
  font-family: var(--fonte-secundaria);
  line-height: 125%;
  padding-bottom: 1em;
}

.container p {
  font-size: 25px;
  line-height: 150%;
}
