.container {
  display: flex;
  height: 800px;
}
.container h2 {
  font-size: 250px;
  font-family: var(--fonte-secundaria);
  color: var(--marrom-principal);
  line-height: 125%;
  margin: 0;
}

.container h3 {
  font-size: 35px;
  font-family: var(--fonte-secundaria);
  line-height: 150%;
}

.conteudo {
  align-self: last baseline;
}

.link {
  display: flex;
  max-width: max-content;
  align-items: center;
  padding: 0.6em 2em;
  border: none;
  border-radius: 18px;
  background-color: var(--preto-principal);
  color: var(--branco);
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2em;
}

.link:hover {
  background-color: var(--marrom-principal);
}
