.container {
  background-color: var(--marrom-principal);
  color: var(--branco);
  padding: 5.5em 1.5em;
  border-radius: 70px;
  margin: 9em 0;
}

.container h2 {
  font-family: var(--fonte-secundaria);
  font-size: 50px;
}

.item {
  background-color: var(--branco);
  color: var(--preto-secundario);
  padding: 3.3em 2.3em;
  border-radius: 25px;
  justify-content: center;
}

.item h5 {
  font-family: var(--fonte-secundaria);
  font-size: 25px;
  line-height: 150%;
  color: var(--preto-principal);
}

.item p {
  font-size: 18px;
  line-height: 150%;
}

.item h6 {
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
}
