:root {
  --fonte-principal: "Jost", serif;
  --fonte-secundaria: "DM Serif Display", serif;
  --fonte-terciaria: "Inter", serif;
  --marrom-principal: #d8a876;
  --marrom-secundario: #c76904;
  --branco: #ffffff;
  --preto-principal: #292f36;
  --preto-secundario: #4d5053;
  --cinza: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-principal);
}

.brand {
  font-family: var(--fonte-secundaria);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--marrom-secundario);
}

.subtitle {
  font-family: var(--fonte-secundaria);
  font-size: 25px;
}
